<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Document</title>
</head>

<body>
  <div class="container"><br><br>
    <h1> Form </h1><br>
    <div class="row">
      <div class="col-md-6">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4" style="font-weight: bold; font-size: 20px;">Email</label><br>
            <input type="text" [(ngModel)]="email" class="form-control" id="inputEmail4">
            
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4" style="font-weight: bold; font-size: 20px;">Password</label><br>
            <input type="password" [(ngModel)]="password" class="form-control" id="inputEmail4">
           
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress" style="font-weight: bold; font-size: 20px;">Address</label><br>
          <input type="address" [(ngModel)]="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
          
        </div>
        <div class="form-group">
          <label for="inputAddress2" style="font-weight: bold; font-size: 20px;">Address 2</label>
          <input type="address2" [(ngModel)]="address2" class="form-control" id="inputAddress"
            placeholder="1234 Main St">
          
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity" style="font-weight: bold; font-size: 20px;">City</label>
            <input type="text" [(ngModel)]="city" class="form-control" id="inputCity">
            
          </div>
          <div class="form-group col-md-4">
            <label for="inputState" style="font-weight: bold; font-size: 20px;">State</label>
            <input type="text" [(ngModel)]="state" class="form-control" id="inputZip">
            
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip" style="font-weight: bold; font-size: 20px;">Zip</label>
            <input type="text" [(ngModel)]="zip" class="form-control" id="inputZip">
            
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <p style="padding: 10px; font-weight: bold; font-size: 20px;"> Email: <br> {{ email }}</p>
          </div>
          <div class="col-md-3">
            <p style="padding: 10px; font-weight: bold; font-size: 20px;"> Password: {{ password }}</p>
          </div>

        </div>
        <div>
          <p style="padding: 10px; font-weight: bold; font-size: 20px;"> Address: <br> {{ address }}</p>
        </div>
        <div>
          <p style="padding: 10px; font-weight: bold; font-size: 20px;"> Address 2: <br> {{ address2 }}</p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p style="padding: 10px; font-weight: bold; font-size: 20px;"> city: <br> {{ city }}</p>
          </div>
          <div class="col-md-4">
            <p style="padding: 10px; font-size: 20px; font-weight: bold;"> State : <br> {{ state }}</p>
          </div>
          <div class="col-md-2">
            <p style="padding: 10px; font-size: 20px; font-weight: bold;"> Zip: <br> {{ zip }}</p>
          </div>



        </div>


      </div>

    </div>

  </div>


</body>

</html>